@media screen and (min-width: 2250px)
    section
        padding-left: 300px
        padding-right: 300px

    .about
        &__img
            img
                height: auto
                width: 75%

    .work
        &__item
            width: fit-content
            margin: 0 auto
            &-img
                display: flex
                justify-content: center


@media screen and (max-width: 1600px)
    .about
        &__img
            height: 80vh

    .work
        &__item
            &-img
                img
                    height: 750px
                    width: 100%


@media screen and (max-width: 1150px)
    .header
        &__title
            font-size: 70px
            text-align: left
        &__img
            width: 55%
            clip-path: polygon(100% 12%, -5% -5%, 20% 100%, 80% 100%)
        &__ribbon-text
            font-size: 25px

    .section-title
        font-size: 45px
        margin-bottom: 75px
    
    p
        font-size: 14px !important
        line-height: 25px !important
    
    .about
        &__img
            height: 60vh

    .benefits
        &__item
            width: calc(46% - 20px)
            text-align: center
        &__num
            font-size: 40px

    .work
        &__box
            display: grid
            justify-content: center
            row-gap: 40px
            padding: 0
        &__item
            width: 100%
            &-num
                font-size: 35px
                left: 60px
            &-img
                img
                    width: 80%
                    margin: 0 auto
    
    .services
        &__item
            &-text
                font-size: 20px
    
    .footer
        &__box
            font-size: 20px


@media screen and (max-width: 800px)
    section
        padding: 100px 0 30px 0
    
    .header
        padding: 0 50px
        &__title
            font-size: 50px
            text-align: right
        &__img
            width: 90%
            clip-path: polygon(85% -8%, 0% -30%, 20% 100%, 45% 100%)
            img
                width: 100%
                height: 100%
        &__ribbon
            &-star
                top: -25%
    
    .section-title
        font-size: 40px
        margin-bottom: 40px
        &__square
            width: 90px
            height: 90px
    
    p
        font-size: 15px !important
        line-height: 25px !important

    .about
        &__img
            width: 40%  
            height: auto          
        &__text
            padding-right: 10px
            width: 55%

    .benefits
        padding-top: 150px

    .content
        padding: 0 30px

    .work 
        padding-top: 50px
        &__item
            &-num
                left: 0
                top: 10px
            &-img
                img
                    height: 600px
                    width: 100%

    .footer
        &__box
            font-size: 30px
            letter-spacing: 5px


@media screen and (max-width: 500px)
    section
        padding: 75px 0 25px 0
    
    .header
        padding: 0 25px
        &__title
            font-size: 40px
            text-align: right
        &__img
            width: 100%
            clip-path: polygon(105% 5%, 0% -30%, 0% 100%, 70% 95%)
            img
                width: auto
                height: auto
        &__ribbon
            &-box
                padding: 10px 30px
            &-star
                top: -40%
                width: 30px
                height: 30px
            &-text
                font-size: 15px
    
    .section-title
        font-size: 25px
        margin-bottom: 40px
        &__square
            width: 60px
            height: 60px
    
    p
        font-size: 10px !important
        line-height: 15px !important

    .about
        &__img
            width: 40%  
            height: auto          
        &__text
            padding-right: 10px
            width: 55%

    .content
        padding: 0 30px

    .work 
        padding-top: 50px
        &__item
            &-num
                left: 0
            &-img
                img
                    height: 400px
                    width: 100%

    .footer
        &__box
            font-size: 20px
            letter-spacing: 5px